.DS_Store
pdfs/
venv/
txts/
txt/
uncat_cep_text/
scep_txt_utf/
scep_txt/
rscep_txt_utf/
scep_txt/
rise_cep_txt_utf/
rise_cep_txt/
cep_txt_utf/
cep_txt/
cep_cs_txt_utf/
cep_cs_txt/
*.csv
*.zip
*.xlsx

